html {
  background: #141414;
}

body {
  min-width: 576px;
  max-width: 1600px;
}

#col-register {
  max-width: 380px;
}

#background {
  overflow-y: auto;
  align-items: center;
}

#container-main {
  min-height: 100vh;
  background: #141414;
}

#logo {
  width: 100px;
}

.overlay-preview {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.preview-details {
  color: #e5e5e5;
}

.preview-buttons button {
  color: #e5e5e5;
  background: rgba(51, 51, 51, 0.4);
  border: none;
  transition: all linear 0.2s;
}

.preview-buttons button:hover {
  color: #141414;
  background: #e5e5e5;
}

.category-row {
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: hidden;
}

.entity-preview {
  background: #fff;
  border: 1px solid black;
  height: 128px;
  width: 228px;
  flex-shrink: 0;
}

/* sliders */
.category-title {
  color: #e5e5e5;
  transition: all linear 0.2s;
}

.category-title:hover {
  color: #fff;
}

.slider-infinite,
.slider {
  width: 100%;
  background-color: #161616;
}

.slider-img-container {
  margin-right: 0.3rem;
  position: relative;
}

.slick-track {
  margin-left: 0 !important;
}

.slider-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.slick-dots button::before {
  color: #e5e5e5 !important;
}

/* sliders -> seasons */
.episode-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #e5e5e5;
  background: rgba(51, 51, 51, 0.4);
}

/* errors */
.error-wrapper {
  height: 1px;
}

.error {
  color: #e5e5e5;
  position: relative;
  top: 45%;
}

/* watch page */
#video-nav-back {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  color: #e5e5e5;
  background: rgba(51, 51, 51, 0.4);
  border: none;
  align-items: center;
}

#video-nav-back i {
  cursor: pointer;
  transition: all linear 0.2s;
}

#video-nav-back i:hover {
  color: #fff;
}

#video-nav-next {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #e5e5e5;
  background: #141414;
  border: none;
  display: none;
}

#video-nav-next button {
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  transition: all linear 0.2s;
}

#video-nav-next button:hover {
  color: #141414;
  background-color: #e5e5e5;
}

/* utilities */
.finished {
  color: #2ecc71;
}

/* navbar */
.nav-link {
  color: #e5e5e5;
  transition: all linear 0.2s;
}

.nav-link:hover {
  color: #fff;
}

.navbar {
  transition: all linear 0.2s;
}

.navbar.nav-dark {
  transition: all linear 0.2s;
  background: #141414;
}

/* media queries */
@media (max-height: 572px) {
  #background {
    align-items: flex-start;
  }
}
